@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-primary: #51c7b3;
    --background-secondary: #0b929e;
    --background-tertiary: #00363d;
    --background-100: rgba(255, 255, 255, 1);
    --background-75: rgba(255, 255, 255, 0.75);
    --text-primary: #01191c;
    --text-secondary: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #51c7b3;
        --background-secondary: #05535b;
        --background-tertiary: #00171a;
        --background-100: rgba(12, 12, 12, 1);
        --background-75: rgba(12, 12, 12, 0.75);
        --text-primary: #ffffff;
        --text-secondary: #ffffff;
    }
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: "Open Sans", serif;
    font-weight: 200;
    background-color: var(--background-tertiary);
    background-image: linear-gradient(90deg, var(--background-secondary), var(--background-tertiary));
    color: var(--text-primary);
    padding: 1rem;
}